.progress-container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 25%;
    background-color: #f3f4f6;
    padding: 20px;
    border-right: 2px solid #ccc;
}

.sidebar h2 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    background: #f97316;
    color: white;
    padding: 8px;
    margin: 5px 0;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.sidebar ul li:hover {
    background: #ea580c;
}

.main-content {
    flex: 1;
    padding: 20px;
    text-align: center;
}

